.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
}

@keyframes star-bg-move {
  100% {
    transform: translateX(50%);
  }
}

.total-bg {
  position: absolute;
  width: 200%;
  height: 100%;
  left: -100%;
  top: 0;
  animation: star-bg-move 30s linear infinite;
}

#star-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
}

.star {
  position: absolute;
  border: 2px solid transparent;
  border-bottom: 4px solid #fff;
  opacity: 0.2;
  animation: flash 2s infinite linear;
}

.star::before {
  content: '';
  position: absolute;
  left: -2px;
  top: 4px;
  border: 2px solid transparent;
  border-top: 4px solid #fff;
}

@keyframes flash {
  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.5;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.2;
  }
}
